#full {
  background-color: black;
  color: white;
  font-family: sans-serif;
  margin: 10px;
  float: right;
  position: absolute;
  border-radius: 20%;
  right: 0px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
#fullwiev {
  padding: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-top: 13px;
  padding-bottom: 13px;
  border: none;
  color: #fff;
  background-color: #000;
  cursor: pointer;
  border-radius: 20%;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  display: inherit;
  outline: 0;
  text-decoration: none;
}
#fullwiev:hover { color: #1e90ff;}

.fa-expand{font-size: 20px;}
/*esconder el boton en pantalla completa */

  #contenedor:requestFullscreen >  #full #fullwiev {display: none;}
  #contenedor:-moz-full-screen > #full #fullwiev {display: none;} /* Firefox */
  #contenedor:-webkit-full-screen > #full #fullwiev {display: none;} /* Chrome, Safari & Opera */
  #contenedor:-msRequestFullscreen > #full #fullwiev {display: none;} /* IE/Edge */
 