body{
  padding: 0;
  margin: 0;
  background-color: white;
}
portrait{
  background-color: grey;
  height: 100%; 
}
@media only screen and (orientation:landscape){
  landscape{ display:block; }
  portrait{ display:none; }
}
@media only screen and (orientation:portrait){
  landscape{ display:none; }
  portrait{ display:block; }
}
#contenedor{
  background-color: black;
  color: black;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
section{
  height: 100vh;
  width: 100%;
  position:absolute;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #55557b;
  font-family: 'Rubik', sans-serif;
  font-size: 25px;
}
