body{
  padding: 0;
  margin: 0;
  background-color: white;
}
#contenedor{
  background-color: #55557b;
  color: white;
  height: 100vh;
  width: 100%;
}
section{
  height: 100vh;
  width: 100%;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}